@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* scrollbars */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7f7f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111720;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111720;
}

/* Extra small devices (phone) */
@media (max-width: 576px) {
  /* CSS rules for extra small devices here */
}
/* Small devices (tablet) */
@media (min-width: 576px) and (max-width: 768px) {
  /* CSS rules for small devices here */
}
/* Medium devices (laptop) */
@media (min-width: 768px) and (max-width: 992px) {
  /* CSS rules for medium devices here */
}
/* Large devices (desktop) */
@media (min-width: 992px) and (max-width: 1200px) {
  /* CSS rules for large devices here */
}
/* Extra large devices (large desktop) */
@media (min-width: 1200px) {
  /* CSS rules for extra large devices here */
}
* {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300;
}

.lc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lc-1 {
  -webkit-line-clamp: 1;
}
.lc-2 {
  -webkit-line-clamp: 2;
}
.lc-3 {
  -webkit-line-clamp: 3;
}
.lc-4 {
  -webkit-line-clamp: 4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif !important;
}

.iconify, * .iconify {
  color: inherit !important;
}

header {
  position: relative;
  z-index: 100;
  left: 0;
  right: 0;
}

.content img {
  border-radius: 1em;
  margin: 1.4em 0px;
  width: 100%;
  max-width: 45em;
}
.content ul > li, .content ol > li {
  margin-bottom: 0.7em;
}

.menu {
  overflow-y: auto;
  /* Extra small devices (phone) */
}
.menu a, .menu a > span.iconify {
  color: #a5a5a5;
  font-weight: 500;
}
.menu a:hover, .menu a.active, .menu a > span.iconify:hover, .menu a > span.iconify.active {
  color: #111720;
}
.menu .dropdown {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 5em;
}
@media (max-width: 992px) {
  .menu {
    padding: 2em;
    align-items: end !important;
    position: fixed !important;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    z-index: 100 !important;
    background: #fff;
    width: 100%;
    max-width: 25em;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }
  .menu.active {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }
  .menu .dropdown {
    position: static;
    margin-top: 1em;
  }
}

#item-dots {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

#hero-dots .owl-dot, #item-dots .owl-dot {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgba(17, 23, 32, 0.3960784314);
  height: 5px;
  width: 15px;
}
#hero-dots .owl-dot.active, #item-dots .owl-dot.active {
  background-color: #dc3545;
}

#open-floating {
  -webkit-animation: ring 4s 0.7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s 0.7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
}
@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }
  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.sticky-al {
  position: fixed !important;
  top: 0 !important;
  z-index: 999;
  background: white;
  left: 0;
  right: 0;
}

.hero .hero-content {
  position: absolute;
}
.hero .hero-content div > h1, .hero .hero-content div > p {
  color: #fff;
}
@media (max-width: 992px) {
  .hero .hero-content {
    position: static;
  }
  .hero .hero-content div > h1, .hero .hero-content div > p {
    color: #111720;
  }
}

.tag-box {
  /* Handle */
  /* Handle on hover */
}
.tag-box::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}
.tag-box::-webkit-scrollbar-thumb {
  background: #cecece;
}
.tag-box::-webkit-scrollbar-thumb:hover {
  background: #cecece;
}
.tag-box > a.active {
  background-color: #dc3545 !important;
  color: #fff !important;
}
.tag-box > a.active:hover {
  background-color: #dc3545 !important;
}
.tag-box > a:hover {
  background-color: rgba(220, 53, 70, 0.137254902) !important;
}

.toc {
  position: sticky;
  top: 0;
  right: 0;
}
.toc > li:hover {
  color: #111720 !important;
}/*# sourceMappingURL=style.css.map */